@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');
/* ========== Start Variables ========== */
:root {
  /* === COLORS === */
  --dark-white-color: #f0f0f0;
  --green-color: #09f5ba;
  --brown-color: #666666;
  --white-brown-color: #8a8a8a3b;
  --black-color: #151515;
}
/* ========== End Variables ========== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

input::placeholder {
  color: #8a8a8a6b;
}

body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Poppins', sans-serif;
  background-color: var(--dark-white-color);
  background-image: url("https://media.istockphoto.com/id/537331500/photo/programming-code-abstract-technology-background-of-software-deve.jpg?s=612x612&w=0&k=20&c=jlYes8ZfnCmD0lLn-vKvzQoKXrWaEcVypHnB5MuO-g8=");
}
.header {
    margin-top: -3rem;
    text-align: center;
    font-size: 40px;
    border-radius: 15px;
    box-shadow: grey 2px 3px 5px 2px;

    background-image:

     linear-gradient(
      rgb(0, 255, 149),
       rgb(0, 204, 255)
       );

}

/* main body */
.main-body {
   
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  
}
.main-body .container {
  width: 68%;
  height: 85%;
  background-color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 150px;
  padding: 50px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: grey 2px 3px 5px 2px;
}
/* Small devices (tablets): less than 768px */
@media only screen and (max-width: 768px) {
  .main-body .container {
    width: 90%;
    margin-top: -60px;
    padding: 45px;
    border-bottom-right-radius: 100px;
  }
}


/* get info part */
.get-info { 
  padding-top: 50px;
  display: flex;
  height: 30%;
}
.get-info div {
  display: inline-block;
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.get-info div span {
  color: var(--brown-color);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.get-info div input {
  width: 70%;
  display: block;
  height: 45%;
  background: transparent;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  color: var(--black-color);
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border: 1px solid var(--white-brown-color);
}
/* Large devices (desktops): 992px to 1200px */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .get-info .scope div span {
    font-size: 17px;
  }
  .get-info div input {
    width: 75%;
    height: 40%;
    font-size: 18px;
  }
}
/* Medium devices (desktops): 768px to 992px */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .get-info div span {
    font-size: 16px;
  }
  .get-info div input {
    width: 90%;
    height: 40%;
    font-size: 16px;
  }
}
/* Small devices (tablets): less than 768px */
@media only screen and (max-width: 768px) {
  .get-info div span {
    font-size: 13px;
  }
  .get-info div input {
    width: 90%;
    height: 40%;
    font-size: 14px;
    padding: 12px;
  }
}


/* result part */
.result {
  height: 60%;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  align-items: start;
  justify-content: start;
}
.result h3 {
  color: var(--black-color);
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
}
.result h3 span {
  color: var(--green-color);
  
}
/* large devices */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  .result h3 {
    font-size: 55px;
  }
}
/* Medium devices (desktops): 768px to 992px */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .result h3 {
    font-size: 42px;
    margin-top: 15px;  
  }
}
/* Small devices (tablets): less than 768px */
@media only screen and (max-width: 768px) {
  .result {
    justify-content: space-evenly;
  }
  .result h3 {
    font-size: 30px;
    margin-top: 15px;  
  }
}
.btn {
 background-color: var(--black-color);

}
/* middle line */
.middle-line {
  width: 100%;
  height: 1px;
  background-color: #8a8a8a3b;
  margin-bottom: 15px;
  position: relative;
}
.middle-line span {
  width: 85px;
  height: 85px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: var(--green-color);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  cursor: pointer;
  transition: .2s ease-out;
}
.middle-line span img {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.middle-line span:hover {
  background: var(--black-color);
}
/* Large devices (desktops): 992px to 1200px */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .middle-line span {
    width: 70px;
    height: 70px;
  }
}
/* Medium devices (desktops): 768px to 992px */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .middle-line span {
    width: 60px;
    height: 60px;
  }
}
/* Small devices (tablets): less than 768px */
@media only screen and (max-width: 768px) {
  .middle-line span {
    width: 50px;
    height: 50px;
    left: calc(50% - 25px);
  }
}

/* Footer */
footer {
    
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px;
}
footer-p {
  font-family: sans-serif;
  color: var(--black-color);
}
footer-p a {
  color:  #FF4136;
  font-weight: bold;
  /* text-decoration: none; */
  cursor: pointer;
}
/* Small devices (tablets): less than 768px */
@media only screen and (max-width: 768px) {
  footer-p {
    font-size: 15px;
    /* opacity: .99; */
  }
}

.footer_text {
  color: #f0f0f0;
  position: relative;
  text-align: center;
}

/* Start sign */
.scope .container-star{
  
  margin-top: 95px;
  margin-left: 540px;
  position: fixed;
  max-width: 600px;
  margin: 50px auto;
  padding: 10px;
  overflow: hidden; 
  background-color:  var(--green-color);
  border-radius: 25px 10px 50px ;
  box-shadow: 3px 30px 10px rgba(0, 0, 0, 0.1);
}


h2 {
  text-align: center;
  color: #333;
}

form {
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="date"] {
  padding: 5px;
  margin: 0 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  padding: 5px 10px;
  background-color:  var(--green-color);;
  color: #fff;
  border: none;
  border-radius: 50px 50px 50px;
  cursor: pointer;
}

button:hover {
  background-color:var(--green-color);
  transition: 0.6s;
}

#result {
  text-align: center;
  font-weight: bold;
  color: #333;
}